.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
    height: 28px;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption__title {
    margin-left: 5px;
}